<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <input type="text" placeholder="Input me">
    <button id="button">Click me to see input value</button>
</div>
<div style="width: 50%">
    <h1>Content with title and SVG</h1>
    <div>
        <img id="test-svg" height="100" width="100" src="/images/test.svg" />
    </div>
</div>
<div style="width: 50%">
    <h1>Content with title and IMG</h1>
    <div>
        <img id="bg-image" height="100" width="100" src="/images/bg.jpeg" />
    </div>
</div>
