<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    {{{body}}}
    <script src='/javascripts/index.js'></script>
  </body>
</html>
